$primaryBtn-color: #5500C0;
$primaryBackgroundColor: #222222;
$titleColor: #DB00FF;
$primaryTextColor: #000000;
$formInputDisplayColor: #636363;
$letterSpacing: 3px;
// $fontFamilyRoboto: Roboto;
// $fontFamilyRighteous: Righteous;
